// Variable declarations
$purple-100-color: hsl(254, 88%, 90%);
$purple-500-color: hsl(256, 67%, 59%);
$yellow-100-color: hsl(31, 66%, 93%);
$yellow-500-color: hsl(39, 100%, 71%);
$white-color: hsl(0, 0%, 100%);
$black-color: hsl(0, 0%, 7%);
$bg-main-color: #f4f4f4;