@use "color.module" as *;

// Formating default styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Setting custom fonts hosted locally
@font-face {
  font-family: "DM Sans";
    src: url("./assets/fonts/static/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/static/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/static/DMSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

// Global font variable
$font-family: "DM Sans", sans-serif;

body{
  font-size: 18px;
  font-family: $font-family;
  background-color: $yellow-100-color;
}

.app {
  display: grid;
  justify-items: center;
  gap: 2rem;
  padding: 2rem 0;
}

// Breakpoints

@media only screen and (min-width: 370px) {
  .app {
    padding: 2rem;
  }
}