@use "../color.module" as *;

.growFollowers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 12px;
  background-color: $purple-500-color;
  padding: 2rem;

  img {
    width: 100%;
  }

  .growFollowersTitle {
    color: $white-color;
    font-weight: normal;
    font-size: 35px;
    line-height: 1.8rem;
    text-align: center;
  }
}


// Breakpoints
@media only screen and (min-width: 320px) {
  .growFollowers {
    img {
      width: 250px;
    }

    grid-area: grow-followers;
  }
}