@use "../color.module" as *;

.scheduleMedia {
  background-color: $purple-100-color;
  border-radius: 12px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .scheduleMediaText {
    color: $black-color;
    text-align: center;
  }

  img {
    width: 300px;
  }
}