@use "../color.module" as *;

.socialMedia {
    width: 100%;
    background-color: $purple-500-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 12px;
    h1 {
        font-size: 40px;
        text-align: center;
        color: $white-color;
        line-height: 2.5rem;
        .socialMediaNumber {
            color: $yellow-500-color;
        }
        .socialMediaItalic {
            font-style: italic;
        }
    }
}

.socialMediaBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialMediaText {
    color: $white-color;
    font-size: 1.2rem;
}