.container {
  background: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  min-width: fit-content;
  border-radius: 30px;
}

@media screen and (min-width: 700px) {
  .container {
    min-width: 700px;
    width: 700px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    border-radius: 0;
  }
}
