* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gold-color: #bf9759;
  --black-color: #051c2c;
  --red-color: #dd3640;
  --black-shirt-color: #1d1d1d;
  --white-shirt-color: #e3e2e6;
  --star-color: #a08a62;
}

body {
  font-family: Helvetica, sans-serif;
}
